.header_list_1 .list{
    width: 150px;
    height: 200px;
}

.pages_content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.card{
    padding: 0;
    width: 450px;
    height: 300px;
    padding: 5px;
    background: url(img/home_img.jpg) no-repeat;
    background-size: cover;
}

iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.info{
    background: linear-gradient(#58585800 0%, #58585821 25%, #58585853 50%, #585858b6 75%, #585858e1 100%);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-x: auto;
}

.info h1{
    padding-top: 200px;
    color: aliceblue;
}

#location{
    background: none;
}

#africa_page{
    background-image: url("img/a.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#asia_page{
    background-image: url("img/b.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#europe_page{
    background-image: url("img/c.jpg");
    background-size: cover;
    background-attachment: fixed;
}